body{
    background-color: rgb(213, 245, 245);
}
h1{
    color:black;
    text-align: center;
}
img{
    height: 140px;
    width: 170px;
    margin-left: 380px;
    cursor: pointer;
}
.box p{
   padding-left: 400px;
}
button{
    height: 40px;
    width: 300px;
    background-color:blue;
    color: white;
    margin-left: 600px;
}